
Домашнее задание

Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера.

Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ml-latest/ratings.csv') 
ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [15]:
ratings[['movieId', 'rating']][ratings.rating == 5].movieId.value_counts().head(1)

318    48762
Name: movieId, dtype: int64

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [17]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [22]:
data[ data['country'].str.contains('est', case=False) ]['country'].unique()

array(['Estonia', 'State of Palestine', 'Timor-Leste'], dtype=object)

In [37]:
data[(data.quantity > 0) 
     & ((data.country == 'Lithuania')|(data.country == 'Latvia')|(data.country == 'Estonia')) 
     & (data.year >= 2005) & (data.year <= 2010)
     & ((data.category == 4) | (data.category == 21) | (data.category == 12))
    ].quantity.sum()

240580.0

In [40]:
# with isin
data[(data.country.isin(['Lithuania','Latvia', 'Estonia'] )) &
     (data.year.isin([2005,2006, 2007,2008,2009,2010] )) &
     (data.category.isin([4,12, 21] )) &
     (data.quantity > 0)
    ].quantity.sum()

240580.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [46]:
pd.read_html('https://fortrader.org/quotes')[3]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,ВТБ Акции ВТБ,0.03211,0.000000,0.000000,NaN
1,Газпром Акции газпрома,189.78000,0.00,0.00,NaN
2,Лукойл Акции Лукойл,5211.50000,нет данных,нет данных,NaN
3,Роснефть Акции Роснефти,344.65000,нет данных,нет данных,NaN
4,Сбербанк Акции Сбербанка,185.52000,0.00,0.00,NaN
5,Сургутнефтегаз Акции Сургутнефтегаза,36.41500,-0.065,-0.178,NaN
6,Норникель Акции Норникель,19098.00000,нет данных,нет данных,NaN
7,Аэрофлот Акции Аерофлота,69.88000,-0.02,-0.03,NaN
8,Северсталь Акции Северсталь,880.80000,нет данных,нет данных,NaN
9,Транснефть Акции Транснефть,0.00000,нет данных,нет данных,NaN
10,Ростелеком Курс акций ростелекома,73.91000,0.00,0.00,NaN
11,Алроса Акции АЛРОСА (ALRS),61.49000,-0.020,-0.033,NaN
12,РУСАЛ Акции РУСАЛ (RUAL),24.83000,0.000,0.000,NaN
13,НМЛК Акции НЛМК (NLMK),124.80000,0.000,0.000,NaN
14,Магнит Акции Магнит (MGNT),3195.00000,0.0,0.0,NaN
15,М.видео Акции М.видео (MVID),365.10000,0.00,0.00,NaN
16,"Газпром нефть Акции ""Газпром нефть"" (SIBN)",333.10000,0.00,0.00,NaN
17,НМТП Акции НМТП (NMTP),8.77000,-0.0250,-0.2843,NaN
18,Полиметалл Акции Полиметалл (POLY),1297.40000,0.00,0.00,NaN
19,Полюс Золото Акции Полюс Золото (PLZL),10394.50000,0.0,0.0,NaN
20,НОВАТЭК Акции НОВАТЭК (NVTK),989.20000,0.00,0.00,NaN
21,РусГидро Акции РусГидро (HYDR),0.62800,0.0000,0.0000,NaN
22,Татнефть Акции Татнефть (TATN),602.70000,-0.70,-0.12,NaN
23,"АФК Система Акции АФК ""Система"" (AFKS)",13.30400,0.000,0.000,NaN
24,МТС Акции МТС,296.10000,0.00,0.00,NaN
25,Башнефть Акции Башнефть (BANE),1643.50000,0.0,0.0,NaN
26,Яндекс Акции Яндекс (YNDX),2520.00000,0.0,0.0,NaN
27,X5 Retail Group Акции X5 Retail Group (FIVE),2296.50000,+66.50,+2.98,NaN

In [47]:
pd.read_html('https://fortrader.org/quotes')[6]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Bitcoin Курс биткоина,6681.290000,-1.070,-0.016,NaN
1,Litecoin Курс лайткоин к доллару (LTC/USD),40.305000,-0.562,-1.375,NaN
2,BitcoinCash Курс Биткоин кеш к доллару США (BC...,233.410000,-0.200,-0.086,NaN
3,Dash Dash,67.414000,-1.228,-1.789,NaN
4,Ripple Ripple,0.178220,-0.00360,-1.97998,NaN
5,Ethereum Ethereum,140.221000,+0.971,+0.697,NaN
6,EmerCoin EmerCoin,NaN,нет данных,нет данных,NaN
7,NameCoin NameCoin,NaN,нет данных,нет данных,NaN
8,PeerCoin PeerCoin,NaN,нет данных,нет данных,NaN
9,BTCRUB биткоин в рублях,247059.000000,нет данных,нет данных,NaN
10,BTCEUR биткоин в евро,6167.280000,нет данных,нет данных,NaN
11,Zcash (ZEC),32.671000,-0.488,-1.472,NaN
12,NEO (NEO),6.996100,-0.1790,-2.4942,NaN
13,EOS (EOS),2.323300,-0.0421,-1.7798,NaN
14,TRON (TRX),0.011815,-0.000225,-1.868771,NaN
15,Monero,52.841000,-1.412,-2.603,NaN
16,Cardano,0.032218,-0.000287,-0.882941,NaN
17,IOTA,0.148210,-0.00158,-1.05481,NaN
18,"ETC/USD эфириум классик, ETC",5.066200,-0.0924,-1.7912,NaN